<!DOCTYPE html>
<html>
<head>
  <title>Enquiry details</title>
  <%= stylesheet_link_tag "/breeze/stylesheets/admin", "/breeze/stylesheets/enquiries", :media => "screen,print" %>
</head>
<body class="enquiry">
  <%= yield %>
</body>
</html>
